* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

body {
  color: black;
  font-family: "Roboto Condensed", sans-serif;
}

body.dark {
  background: #000;
}

.header__conteiner {
  background-color: #007dc6;
  position: relative;
}

body.dark .header__conteiner {
  background: #262525;
  -webkit-box-shadow: #2e2d2d;
          box-shadow: #2e2d2d;
}

.header {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border: 0;
  padding: 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  vertical-align: baseline;
  color: white;
}

.header__logo {
  font-size: 40px;
  text-shadow: 0 5px 10px -5px black;
}

body.dark .header__logo {
  color: white;
}

@media (max-width: 415px) {
  .header__logo {
    font-size: 15px;
  }
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 415px) {
  .header__search {
    display: none;
  }
}

.header__search--input {
  border-radius: 15px;
  border: none;
  text-align: center;
  padding: 5px 60px 5px 60px;
}

.header__search--btn {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.header__search--btn img {
  width: 25px;
  height: 25px;
}

.header__nav {
  position: absolute;
  top: 100%;
  background-color: #007dc6;
  left: 0;
  right: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media (min-width: 415px) {
  .header__nav {
    position: static;
    background-color: #007dc6;
  }
}

body.dark .header__nav {
  background-color: #262525;
}

.header__nav--item {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__nav--item:hover {
  color: black;
}

.header__menuBtn {
  background-color: white;
  border-radius: 5px;
}

.header__menuBtn:active img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 415px) {
  .header__menuBtn {
    display: none;
  }
}

.header .swich {
  background-color: #cecece;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  gap: 20px;
}

.header .swich::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.header .swich.active {
  background: orange;
  color: black;
}

.header .swich.active::after {
  right: 0;
  left: unset;
}

.header .swich img {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  background: none;
  color: white;
}

.hidden {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff87f;
  padding: 30px 0;
  gap: 15px;
}

body.dark .footer {
  background: #262525;
  -webkit-box-shadow: #2e2d2d;
          box-shadow: #2e2d2d;
}

body.dark .footer img {
  background-color: snow;
}

body.dark .footer__title {
  color: snow;
}

.footer__title {
  text-transform: uppercase;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__links:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer__link img {
  height: 30px;
  width: 30px;
}

.hero {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 50px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 20px 20px;
  font-size: 40px;
  -webkit-animation: hero 10s infinite;
          animation: hero 10s infinite;
}

@media (max-width: 415px) {
  .hero {
    height: 450px;
    width: 360px;
    background-size: 360px 450px;
  }
}

@media (max-width: 415px) {
  .hero {
    background-color: white;
    margin: 15px;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3.5em;
    border-radius: 0px;
  }
}

.hero__card {
  height: 60px;
  margin-bottom: 100px;
}

@media (max-width: 415px) {
  .hero__card {
    position: relative;
    right: 105px;
    bottom: 150px;
  }
}

.hero__card--btn {
  padding: 10px;
  border: none;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 7.5px;
  margin: 50px;
}

@media (max-width: 415px) {
  .hero__card--btn {
    margin: 1px;
  }
  .hero__card--btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.hero__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 415px) {
  .hero__card {
    text-indent: 0px;
    font-size: 25px;
    color: #4b4b4b;
  }
  .hero__card--btn {
    text-align: left;
    font-size: 15px;
  }
}

@-webkit-keyframes hero {
  0%,
  30% {
    background-image: url("./img/addidas_1.jpg");
  }
  35%,
  65% {
    background-image: url("./img/Addidas_2.jpg");
  }
  70%,
  100% {
    background-image: url("./img/Addidas_3.jpg");
  }
}

@keyframes hero {
  0%,
  30% {
    background-image: url("./img/addidas_1.jpg");
  }
  35%,
  65% {
    background-image: url("./img/Addidas_2.jpg");
  }
  70%,
  100% {
    background-image: url("./img/Addidas_3.jpg");
  }
}

.genral {
  background-color: #e5e5f7;
  background-image: radial-gradient(#ff5733 0.5px, transparent 0.5px), radial-gradient(#ff5733 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: white;
  margin: 30px;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px -5px black;
          box-shadow: 0 5px 10px -5px black;
  text-align: center;
}

@media (max-width: 415px) {
  .form {
    margin: 22px;
  }
}

.from__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.form__container {
  margin-top: 0em;
  display: -ms-grid;
  display: grid;
  gap: 0.9em;
}

.form__group {
  position: relative;
  color: #413737;
}

.form__input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #413737;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-12px) scale(0.7);
          transform: translateY(-12px) scale(0.7);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  color: #4f4f4f;
}

.form__label {
  color: #575353;
  cursor: pointer;
  position: absolute;
  left: 90px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: color 0.3s, -webkit-transform 0.5s;
  transition: color 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, color 0.3s;
  transition: transform 0.5s, color 0.3s, -webkit-transform 0.5s;
}

.form__btn {
  background-color: #0074d9;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: none;
  padding: 0.3em 0;
  border-radius: 0.5em;
  border: none;
  -webkit-box-shadow: 0 5px 10px -5px black;
          box-shadow: 0 5px 10px -5px black;
}

.main {
  background-color: white;
  margin: 30px;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px -5px black;
          box-shadow: 0 5px 10px -5px black;
  text-align: center;
}

.main__conteiner {
  background-color: white;
  margin: 30px;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px -5px black;
          box-shadow: 0 5px 10px -5px black;
  text-align: center;
}

@media (max-width: 415px) {
  .main__conteiner {
    margin: 15px;
  }
}

.main__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.main__grup {
  position: relative;
  color: #413737;
}

.main__inputs {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 1px solid #413737;
}

.main__btn {
  background-color: #0074d9;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: none;
  padding: 0.4em 0;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 5px 10px -5px black;
          box-shadow: 0 5px 10px -5px black;
  border: none;
}

.main__conteinerInfo {
  background-color: white;
  margin: 30px;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px -5px black;
          box-shadow: 0 5px 10px -5px black;
  text-align: center;
}

@media (max-width: 415px) {
  .main__conteinerInfo {
    margin: 15px;
  }
}

.main__IconteinerInfo {
  display: none;
}
