.header {
  &__conteiner {
    background-color: #54b370;

    body.dark & {
      background: rgb(38, 37, 37);
      box-shadow: rgb(46, 45, 45);
    }
  }
  // El conteiner es el espacio verde de arriba, El background-color es el color de fondeo de header

  & {
    max-width: 1200;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 0;
    padding: 20px 20px;
    align-items: center;
    height: 100%;
    vertical-align: baseline;
    color: white;
  }
  // Esto reprecenta la cajita verde (alaing items-webkitaling-

  &__logo {
    font-size: 30px;
  }
  // En search modifico la lupita
  &__search {
    display: flex;
    align-items: center;
    gap: 20px;

    // En imput modifico la cajita de la lupita
    &--input {
      border-radius: 15px;
      border: none;
      text-align: center;
      padding: 5px 60px 5px 60px;
    }
    &--btn {
      border: none;
      background: none;
      cursor: pointer;
      transition: all 0.6s linear;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__nav {
    display: flex;
    gap: 10px;
    align-items: center;
    // estos son los items(home, prudustos, contacto)
    &--item {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      transition: color 0.3s linear;
      // el hover le da el cambio de color cuando pasamos por arriba al home, productos, etc
      &:hover {
        color: black;
      }
    }
  }
  .swich {
    background-color: #343058;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    gap: 20px;

    &::after {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      background: #f1f1f1;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: 0.3s ease all;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
    &.active {
      background: orange;
      color: black;
      &::after {
        right: 0;
        left: unset;
      }
    }
    img {
      width: 25px;
      height: 25px;
      line-height: 25px;
      display: block;
      background: none;
      color: white;
    }
  }
}
